<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap_style.css -->
    <link href="{{ url_for('static', filename='css/bootstrap_style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index_style.css') }}" rel="stylesheet">
</head>

<body>
    <style type="text/css">
    body,
    html {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("{{ url_for('static', filename='img/background.jpg') }}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="{{ url_for('index') }}">
                Jon Jon Davidoff
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">
                            <span class="sr-only">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('model') }}">Model</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar end -->
    <div class="h-100">
        <h1><strong> Deep Learning - Final Project </strong></h1>
    </div>
    <div class="description">
        <span>
            <h6 class="header-description"><strong>This Project, predicts the <br> amount of passangers in a car<br> from a thermal image</strong></p></h6>
        </span>
    </div>
    <br>
    <div class="Signup-btn-div">
        <a href="{{ url_for('model') }}"><input type="button" class="btn btn-m btn-outline-secondary my-2 my-sm-0 signup-btn" value="Use the model!"></a>
    </div>
    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstap.js') }}"></script>
</body>

</html>